name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set git slug envs
        uses: rlespinasse/github-slug-action@3.5.1

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.0

      - name: Cache Go modules and build cache
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-${{ env.GITHUB_REF_SLUG }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-main-go-

      - name: Check out code
        uses: actions/checkout@v2

      - name: Crosscompile binaries
        run: make crosscompile -j 2

      - name: Compress binaries
        run: |
          mkdir -p artifacts
          export SOURCE_DATE_EPOCH=$(git show -s --format=%ci ${GITHUB_SHA})
          for i in kthxbye-*; do tar --mtime="${SOURCE_DATE_EPOCH}" --owner=0 --group=0 --numeric-owner -c $i | gzip -n - > artifacts/$i.tar.gz; done
          shasum -a 512 artifacts/kthxbye-*.tar.gz | tee artifacts/sha512sum.txt

      - name: Get release
        if: github.event_name == 'release'
        id: get_release
        uses: bruceadams/get-release@v1.2.3
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload binaries to GitHub release
        if: github.event_name == 'release'
        uses: AButler/upload-release-assets@v2.0
        with:
          files: "artifacts/*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
