name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.0

      - name: Cache Go modules and build cache
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-lint-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-lint-

      - name: Check out code
        uses: actions/checkout@v3

      - name: Lint Go code
        run: make lint
