name: Verify go.sum

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15

      - name: Check out code
        uses: actions/checkout@v2

      - name: Fetch Go code
        run: go get -d -v ./...

      - name: Go mod tidy
        run: go mod tidy

      - name: Check for local changes
        run: git diff --exit-code
